<div="hero">
<div="span12">
  <%= image_tag "hero.png", :class => 'hero' %>
  <div class="hero-container">
    <div class="main-caption">
      <h1>Stand Out.</h1>
      <h1>Improve Results.</h1>
      <p class="lead">Get the attention of more candidates and clients to improve response rates.</p>
      <%= link_to('Watch a Demo', "http://fast.wistia.net/embed/iframe/vcgat5v7j5?autoPlay=true&controlsVisibleOnLoad=true&endVideoBehavior=reset&plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=email-twitter-linkedIn-googlePlus-facebook&plugin%5Bsocialbar-v1%5D%5BtweetText%5D=Check%20out%20this%20video%21&popover=true&version=v1&videoHeight=360&videoWidth=640&volumeControl=true", :class => 'btn btn-large btn-primary wistia-popover[height=388,width=640]')  %>
      <%= link_to('Start for Free', new_user_registration_path, :class => 'btn btn-large btn-primary')  %>
    </div>
  </div>
</div>
</div>

<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>