<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Four columns of text below the carousel -->
  <div class="section-3">
		<div class="row">
			<h2 class="featurette-heading">What is vCruit? <span class="muted">It'll blow your mind.</span></h2>
			<p class="lead">vCruit is a web-based application that enables recruiters to utilize the power of online video to get and keep the attention of candidates and clients. It's an easy to use application that works like this:</p>
		</div>
	</div>
	<div class="row">
    <div class="span3">
      <h2 class="featurette-numbering">1</h2>
      <p class="lead">Create a video that showcases your message and upload it to the vCruit application.</p>
    </div><!-- /.span3 -->
    <div class="span3">
      <h2 class="featurette-numbering">2</h2>
      <p class="lead">Host the video on a custom landing page designed and branded just for you.</p>
    </div><!-- /.span3 -->
    <div class="span3">
      <h2 class="featurette-numbering">3</h2>
      <p class="lead">Embed the video into your emails, InMails, and social media posts.</p>
    </div><!-- /.span3 -->
    <div class="span3">
      <h2 class="featurette-numbering">4</h2>
      <p class="lead">Track analytics to see who watches the video, how many times, and for how long.</p>
    </div><!-- /.span3 -->
  </div><!-- /.row -->

</div><!-- /.container -->