  <!-- START THE FEATURETTES -->
<div id="bg-color-orange">
	<div class="container marketing">
		<div class="section-3">
		<div class="row">
		  <div class="featurette">
		    <h2 class="featurette-heading">Does this sound familiar?</h2>
		    <div class="row">
					<div class="span5 offset1">
			      <i class="icon-arrow-right"></i>
			      <p class="lead">"I would like to have more passive candidates respond to my phone calls, emails, and InMails with interest"</p>
			    </div><!-- /.span3 -->
					<div class="span5">
			      <i class="icon-arrow-right"></i>
			      <p class="lead">"I would like my LinkedIn and other social media posts to reach a larger audience and generate more inbound leads"</p>
			    </div><!-- /.span3 -->
				</div>
				
		    <div class="row">
					<div class="span5 offset1">
			      <i class="icon-arrow-right"></i>
			      <p class="lead">"I would like to have more companies respond to my phone calls, emails, and InMails with interest"</p>
			    </div><!-- /.span3 -->
					<div class="span5">
			      <i class="icon-arrow-right"></i>
			      <p class="lead">"Candidates and clients are busy and they get a lot of messages from recruiters. It's really hard to stand out and get their attention."</p>
			    </div><!-- /.span3 -->
				</div>
				</div>
		  </div>
		</div>
	</div>
</div>

  <!-- /END THE FEATURETTES -->