<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Four columns of text below the carousel -->
  <div class="section-2">
		<div class="row">
			<h2 class="featurette-heading">What is vCruit?</h2>
			<p class="lead1">vCruit is a web-based application that enables recruiters to quickly and easily utilize the power of online video in their outbound communications.</p>
      <p class="lead1">It works like this:</p>
		</div>

	<div class="row">
    <div class="span3">
      <h2 class="featurette-numbering">1</h2>
      <p class="lead">Upload a video that showcases your message to the vCruit application.</p>
    </div><!-- /.span3 -->
    <div class="span3">
      <h2 class="featurette-numbering">2</h2>
      <p class="lead">Display the video on a landing page designed and branded just for you.</p>
    </div><!-- /.span3 -->
    <div class="span3">
      <h2 class="featurette-numbering">3</h2>
      <p class="lead">Embed the video into your emails, InMails, and social media posts.</p>
    </div><!-- /.span3 -->
    <div class="span3">
      <h2 class="featurette-numbering">4</h2>
      <p class="lead">Track analytics to see who watches the video and for how long.</p>
    </div><!-- /.span3 -->
  </div><!-- /.row -->
</div>
</div><!-- /.container -->