<div class="contact-outer">
   <div class="contact-inner">
       <%= mail_to('alston@vcruit.net', 'Contact Us', :cc => 'vcruitdev@gmail.com', :subject => 'Contact Us:', :class => 'btn btn-large btn-primary')  %>
   </div>
</div>

