<div class='row'>
	<div class="span8 offset1">	
		<h1>Contact</h1>

		<div class="container">
		  <div class="row">
		    <div class="span12">
		      <form>
		        <fieldset>
		          <legend>Feedback Form</legend>
		          <label>Your name</label>
		          <input type="text" name="name" class="span4" placeholder="First and Last, please!">
		          <label>Twitter username</label>
				  <div class="input-prepend">
					  <span class="add-on">@</span>
					  <input type="text" name="twitter">
				  </div>
		           <label>Your field of recruitment:</label>
		            <label class="radio"><input type="radio" name="favoritesession" value="html5">
									Information Technology</label>
		            <label class="radio"><input type="radio" name="favoritesession" value="css3">
		              Medical</label>
		            <label class="radio"><input type="radio" name="favoritesession" value="bootstrap"> Accounting / Finance</label>
		            <label class="radio"><input type="radio" name="favoritesession" value="foundation"> Law</label>
		          <label>Would you recommend us to a friend?</label>
		          <label class="radio inline">
		            <input type="radio" name="comeagain" value="yes"> Yes
		          </label>
		          <label class="radio inline">
		            <input type="radio" name="comeagain" value="no"> No
		          </label>
		          <label>Your field of recruitment:</label>
		          <select name="continent" size="1">
		            <option selected>Select one...</option>
		            <option value="afr">Accounting</option>
		            <option value="ant">Finance</option>
		            <option value="asia">Information Technology</option>
		            <option value="aus">Law</option>
		            <option value="eur">Medical</option>
		            <option value="na">Engineering</option>
		            <option value="sa">Consulting</option>
		          </select>
		          <label>Comments:</label>
		          <textarea id="tooltip-comments" name="comments" title="We welcome your feedback" data-toggle="tooltip" data-placement="right"></textarea>
		          <label class="checkbox"><input name="subscribe" type="checkbox" value="subscribe" data-toggle="collapse" data-target="#email">
		            Subscribe to be added to our mailing list </label>
		          <div id="email" class="collapse in">
					  <label>Your email</label>
					  <input type="text" name="email">
				  </div>
		          <p><button type="submit" class="btn btn-warning btn-large">Submit</button></p>
		        </fieldset>
		      </form>
		    </div>
		  </div>
		</div>
		</div>
		<script>
		$('#tooltip-comments').tooltip();
		$('.collapse').collapse();
		</script>

	</div>
</div>
