<div class='container'>
  <div class='row'>
	<div class="span8 offset1">	
		<h1>Contact</h1>
    <h3>Email us at <%= mail_to "support@vcruit.net", "support@vcruit.net" %> or fill out the form below.</h3>
    <div class="span6">
      <form>
          <div class="controls controls-row">
              <input id="name" name="name" type="text" class="span3" placeholder="Name"> 
              <input id="email" name="email" type="email" class="span3" placeholder="Email address">
          </div>
          <div class="controls">
            <input id="type" name="type" type="text" class="span6" placeholder="Field of Recruitment">
              <textarea id="message" name="message" class="span6" placeholder="Your Message" rows="5"></textarea>
          </div>
      
          <div class="controls">
              <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Send</button>
          </div>
      </form>
    </div>
  </div>
	</div>
</div>
