<div class="outer-wrapper">
  <div class="inner-wrapper">
    <section class="faq">
      <div class="faq-questions">
        <h2>Frequently Asked Questions</h2>
        <p><a href="#Q1">How do I create a video? Will vCruit help me?<a></p>
        <p><a href="#Q2">How many video pages and videos can I have?<a></p>
        <p><a href="#Q3">Can I change my video page once it's created?<a></p>
        <p><a href="#Q4">Can I use the same video on multiple pages?<a></p>
        <p><a href="#Q5">Are my video pages public or private?<a></p>
        <p><a href="#Q6">How is vCruit different from putting my videos on YouTube?<a></p>
        <p><a href="#Q7">How is vCruit different from putting videos on my website?<a></p>
        <p><a href="#Q8">How is vCruit different from putting my videos directly on LinkedIn, Facebook, or Twitter?<a></p>
          <hr>
      </div>
  
      <div class="faq-answers">
        <div class="faq-block">
        <h3><a id="Q1">How do I create a video? Will vCruit help me?</a></h3>
        <p>With today's technology there are several ways to create a video, including:</br></br>
          * Webcam</br>
          * iPhone, Android or tablet</br>
          * Pro-Am do it yourself setup</br>
          * Professional video providers</br></br>
      
          You are not restricted to using any one type of video creation tool and can upload any video from your desktop, mobile device, or tablet into vCruit. If you would like help creating videos, vCruit will provide resources and assistance.</p></br>
          <a href = #> top of page </a>
          <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q2">How many video pages and videos can I have?</a></h3>
          <p>You can create as many different video pages as you would like. Each video page will display one video. If you have multiple videos, you can create a video page for each one.
          </p>
          <a href = #> top of page </a>
          <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q3">Can I change my video page once it's created?</a></h3>
          <p>Yes. You can change your video page at any time, even after you have started sending it out to viewers.
          </p>
          <a href = #> top of page </a>
          <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q4">Can I use the same video on multiple pages?</a></h3>
          <p>Yes. Once a video is uploaded into vCruit, you can easily copy that video onto multiple video pages.
          </p>
          <a href = #> top of page </a>
          <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q5">Are my video pages public or private?</a></h3>
          <p>Each video page you create is hosted at a unique web address that is undiscoverable to search engines. The only way viewers are directed to your video page is by the links that you send out. So technically your video page is public; however, effectively it is private as you can control who is directed to your page.
          </p>
          <a href = #> top of page </a>
          <hr>
        </div>
    
        <div class="faq-block">
          <h3><a id="Q6">How is vCruit different from putting my videos on YouTube?</a></h3>
          <p>
            <strong>Reason 1: YouTube is designed to keep a viewer on YouTube to watch more videos and click on adds, which lowers your conversion rates.</strong> You want clear and visible call to action buttons that drive viewers of your videos to respond to you, look at your other job postings, visit your website, or share your video with someone else.
          </p>
          <p>
            <strong>Reason 2: The wide variety of content on YouTube detracts from your professionally oriented content.</strong> Do you really want your video to be next to a video of some guy shaving his cat?
          </p>
          <p>
            <strong>Reason 3: YouTube's analytics are more macro oriented.</strong> While YouTube does offer extensive analytics in many areas, it lacks important granular data on individual viewers that you want.
          </p>
          <p>
            <strong>Conclusion: YouTube can serve as a secondary distribution channel, but is not the most effective primary location to host your videos.</strong>
          </p>
          <a href = #> top of page </a>
          <hr>
        </div>
    
        <div class="faq-block">
        <h3><a id="Q7">How is vCruit different from putting videos on my website?</a></h3>
        <p>
          If you answer "Yes" to all the below questions you might consider using your website instead of vCruit. Otherwise, vCruit will be a far better option.
        </p>
        <p>+ Do you know who maintains your company's website? Would they add a video page for you?</p>
        <p>+ If you have access to your website, do you have the knowledge to add a web page and a video?</p>
        <p>+ Do you know how long it takes to setup a custom landing page for five different videos and generate linked images to them?</p>
        <p>+ Do you want to spend your valuable time creating and maintaining numerous landing pages?</p>
        <p><strong>Conclusion: If you have multiple videos or multiple people uploading videos, using your website will become very tedious.</strong></p>
        <a href = #> top of page </a>
        <hr>
        </div>
        <div class="faq-block">
        <h3><a id="Q8">How is vCruit different from putting my videos directly on LinkedIn, Facebook, or Twitter?</a></h3>
        <p><strong>Reason 1: LinkedIn and Twitter are distribution channels and do not host videos.</strong> You can post videos on them, but you need somewhere else to host your video.</p>
        <p><strong>Reason 2: They are public social media channels and limit your distribution channels.</strong> What if you want to send your video via email? What if there is a video that you want to send to a smaller group or only one specific person?</p>
        <p><strong>Reason 3: They lack custom call to action buttons and granular analytics.</strong> This will make it harder to convert a passive viewer into an active relationship.</p>
        <p><strong>Conclusion: LinkedIn, Facebook, and Twitter are great distribution channels, but you need a platform that will host your videos, allow distribution through multiple channels, and maximize viewer conversion.</strong></p>
        <a href = #> top of page </a>
        <hr>
        </div>
     </div>
    </section>
  </div>
</div>    
