<div class="outer-wrapper">
  <div class="inner-wrapper">
    <%= render 'profiles/links' %>
    <section class="faq">
      <div class="faq-questions">
        <h2>Help</h2>
        <p><a href="#Q1">How do I navigate vCruit?<a></p>
        <p><a href="#Q2">How do I create a video page?<a></p>
        <p><a href="#Q3">What is a video page?<a></p>
        <p><a href="#Q4">How many video pages and videos can I have?<a></p>
        <p><a href="#Q5">Can I change my video page once it's created?<a></p>
        <p><a href="#Q6">Are my video pages public or private?<a></p>
        <p><a href="#Q7">Where does the video come from?<a></p>
        <p><a href="#Q8">Is there a video camera inside vCruit?<a></p>
        <p><a href="#Q9">Can I use the same video on multiple pages?<a></p>
        <p><a href="#10">Where do I find the video identification number and how can I copy it into another video page?<a></p>
        <p><a href="#11">How do I send a video page to viewers?<a></p>
        <p><a href="#12">How do I get analytics to see viewers of my video?<a></p>
        <p><a href="#13">What's included in the analytics?<a></p>
        <p><a href="#14">Can I identify individual viewers by name and email?<a></p>
          <hr>
      </div>
  
      <div class="faq-answers">
        <div class="faq-block">
        <h3><a id="Q1">How do I navigate vCruit?</a></h3>
        <p>The <strong>Video Page Hub</strong> tab is the main screen in vCruit. From that tab you can complete almost any action, including creating a video page, editing existing video pages, copying links to your video pages to send out, and viewing analytics for your video pages.</p>
        <a href = #> top of page </a>
          <hr>
        </div>
    
        <div class="faq-block">
          <h3><a id="Q2">How do I create a video page?</a></h3>
          <p>From the <strong>Video Page Hub </strong>tab click the <strong>Create new video page</strong> button. This will take you to the <strong>Video Page Editor</strong> where you can upload a video by clicking the <strong>Upload Media</strong> button and enter any text you want on your video page. You can click the <strong>Preview</strong> button at the bottom of the page to preview what your page looks like or click <strong>Save & Finish</strong> to save your page and return to the Video Page Hub. 
          </p>
          <a href = #> top of page </a>
          <hr>
        </div>
    
        <div class="faq-block">
        <h3><a id="Q3">What is a video page?</a></h3>
        <p>
          A video page is the landing page you create to display your video. When you send a linked image or link for a video to recipients, they will be led back to that particular video page.
        </p>
        <a href = #> top of page </a>
        <hr>
        </div>

        <div class="faq-block">
        <h3><a id="Q4">How many video pages and videos can I have?</a></h3>
        <p>You can create as many different video pages as you would like. Each video page will display one video. If you have multiple videos, you can create a video page for each one.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
        <h3><a id="Q5">Can I change my video page once it's created?</a></h3>
        <p>Yes. You can change your video page at any time, even after you have started sending it out to viewers. To do this, go to the <strong>Video Page Hub</strong> tab, find the target video page and click <strong>Edit.</strong></p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q6">Are my video pages public or private?</a></h3>
          <p>Each video page you create is hosted at a unique web address that is undiscoverable to search engines. The only way viewers are directed to your video page is by the links that you send out. So technically your video page is public; however, effectively it is private as you can control who is directed to your page.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q7">Where does the video come from?</a></h3>
          <p>From the <strong>Video Page Editor</strong> you click the <strong>Upload Media</strong> button to select a video from your files. If you are on your smartphone, you can access videos from your camera roll. vCruit accepts any video format as long as it's a digital file.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q8">Is there a video camera inside vCruit?</a></h3>
          <p>No. With all the great video tools readily available we didn't want to limit your options. However, we do provide education and resources to help you make videos. See the Help Making Video? tab for more information.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="Q9">Can I use the same video on multiple pages?</a></h3>
          <p>Yes. There are two ways to use the same video on multiple video pages. The first way is to create another video page and upload the video again. The second way is to copy the <strong>video identification number</strong> for an existing video inside vCruit and paste it into the new video page. The second method will be faster and you won't have to wait for the video to upload again.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="10">Where do I find the video identification number and how  can I copy it into another video page?</a></h3>
          <p>From the <strong>Video Page Hub</strong> find the video page that holds the video you want to copy. Then click <strong>Edit</strong> and <strong>copy the video identification number</strong> from the field shown below. Next, start a new video page and paste the video identification number into that same box. When you hit the <strong>Preview</strong> button, you will see the same video shows up in this new video page.</p>
          <%= image_tag("upload_media.png", alt: "Upload Image") %></br>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="11">How do I send a video page to viewers?</a></h3>
          <p>From the <strong>Video Page Hub</strong> find a video page and click the <strong>Get Link</strong> button. Choose the type of link you want, copy it, and then paste it into your communications. Note that images and linked text work in email, but that message based applications like LinkedIn, Twitter, and Facebook only accept links.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="12">How do I get analytics to track viewers of my video?</a></h3>
          <p>From the <strong>Video Page Hub</strong> find a video page and click the <strong>Get Analytics</strong> button.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="13">What's included in the analytics?</a></h3>
          <p>You will get macro analytics including the number of times a video has been viewed and the average length people watched it for. You will also get analytics for individual views, including the IP address and geographic location of the viewer, the date and time of the view, and the point at which the viewer stopped watching the video.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
        
        <div class="faq-block">
          <h3><a id="14">Can I identify individual viewers by name and email?</a></h3>
          <p>At this time vCruit does not identify viewers by name or email; however, that is a feature we are looking to add in the future.</p>
        <a href = #> top of page </a>
        <hr>
        </div>
     </div>
    </section>
  </div>
</div> 