<div class="outer-wrapper">
  <div class="inner-wrapper">
    <%= render 'profiles/links' %>
    <h1>Making a Video</h1>
    <p>
      If you already have a video, just upload it. You can upload any digital video file to vCruit. We 
      will help you make a video if you need, but don't require you to create a video inside our application. 
      This provides you maximum flexibility.
    </p>
    <p>
      If you need to make a video, you have lots of options including: a smartphone, tablet, webcam, video camera, animated presentation, professional videographers, and vCruit's Video Production Enablement Services.
    </p>
    <h3>Our recommendation</h3>
    <p>
      Our recommendation is to use an iPhone or another smartphone for ost of your videos, and to order professional video services through vCruit's Production Enablement team if you are making a video that you will be using for several months or years and want to add some production quality.
    </p>
    <h3>iPhone or another smartphone</h3>
    <ul>
      <li>This will be your best result for the time and money it requires.</li>
      <li>The camera quality is pretty darn good and is actually better than most webcams and even many lower grade video camers.</li>
      <li>The iMovie app (downloadable at the App Store for $4.99) provides the core functions you need to edit a video right on your phone in just a couple of minutes and is really easy to use.</li>
      <li>See our demo videos below to learn how to shoot, edit, and publish high quality videos on your phone in less than five minutes.</li>
    </ul>
    <h3>Professional video services through vCruit's Production Enablement</h3>
    <li>If you want extra production firepower for a specific video, then let us know and we will connect you with the resources for your project.</li>
    <li>You can access a variety of video production services including: shooting and editing, editing only, logo animation, and animated videos.</li>
    
     <h3>How to shoot and edit a video on your smartphone</h3>
    <div class="help-videos">
      <iframe src="http://fast.wistia.net/embed/iframe/94tmuostq7" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="500" height="281"></iframe>
      <iframe src="http://fast.wistia.net/embed/iframe/2xfhwmeu41" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="500" height="281"></iframe>
      
    </div>
  </div>
</div>
