<div class="outer-wrapper">
  <div class="inner-wrapper">
    <section class="video-hub-wrapper">
    		<h1>Editing profile</h1>
    		<%= render 'form' %>

    		<%= link_to 'My Profile', @profile %>
    </section>
  </div>
</div>
