<section class="video-hub-wrapper">
  <%= render 'links' %>
    <h3>Complete your profile by entering the below information.</h3>
    <p>Why do we need this info? So recipients of your video messages know how to contact you.
    <%= render 'form' %>
	<%= link_to 'Video Hub', video_pages_path %>
</section>



