<h1>Welcome <%= current_user_profile.first_name %>!</h1>

<h2>What do you want to do?</h2>
<h2><%= link_to 'Create a new page', new_video_page_path %></h2>
<h2><%= link_to 'Manage page', video_pages_path %></h2>
<h2><%= link_to 'See analytics for existing videos', '#' %></h2>

