/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-wysihtml5
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body {
  padding: 0;
  margin: 0;
  min-width: 1366px;
  color: #5a5a5a;
}

.outer-wrapper {
  width: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  background-color: #FFF;
  position: relative;
  display: inline-block;
}

.inner-wrapper{
  margin: 0px auto 0px auto;
  width: 1366px;
  min-width: 1366px;
  position: static;
  
}

.main-header {
  display: block;
  height: 120px;

  clear: both;
}

#main-logo {
  width: 500px;
  float: left;
  text-align: left;
  display: block;
  margin: 25px 0px 0px 100px;

}

.main-nav {
  float: right;
  display: inline-block;
  padding-top: 60px;
  padding-right: 125px;
}

#nav-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  
  li{
    display: inline;
  }
  .nav-padding{
    padding: 0px 40px 0px 0px;
  }
}

.main-footer {
	margin:0px;
	padding-top: 40px;
  height: 100px;
	text-align: center;
	background-color:#ECECEC;  
}

.input-field {
  display: inline-block;
  width: 400px;
}









