// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero-wrapper{
  position: relative;
  width: 1366px;
  height: 409px;
}

#hero-image {
  position: absolute;
  left: 0;
  top: 0;
}

.main-caption {
  z-index: 100;
  background-color: transparent;
  position: absolute;
  max-width: 400px;
  padding: 0 20px;
  margin-top: 80px;
  margin-left: 175px;
}

.main-caption h1,
.main-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.title-font .lead{
  font-size: 200%;
}
.main-caption .btn {
  margin-top: 20px;
  margin-right: 30px;
}

.section1{
  display: block;
  padding: 50px 50px 50px 50px;
  text-align: center;
  
  .section1-tagline{
    font-size: 30px;
    margin: 0px 80px;
    line-height: 1.2;
  }
  
  .section1-heading {
    font-size: 50px;
  	padding-bottom:30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }


  .section1-numbering {
  	width: 60px;
  	height: 60px;
  	line-height: 60px;
  	border-radius: 200%;
  	color: #fff;
  	background-color: #0E5EA3;
  	font-size: 40px;
  	text-align: center;
  	margin:30px auto;
  	float:none;
  }

  .section1-block {
    width: 20%; /*Slightly less than 1/4th of the width*/ 
    display: inline-block;
    padding: 25px 20px 0px 20px;
    margin: 0;
    text-align: center;
  }
}

.section2 {
	background-color: #FC7F1E;
	color:#fff;
  display: block;
  padding: 50px 0px;
  text-align: center;
  
  .section2-tagline{
    font-size: 30px;
    margin: 0px 80px;
    line-height: 1.2;
  }
  
  .section2-heading {
    font-size: 50px;
  	padding-bottom:30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }

  .section2-block {
    width: 38%; /*Slightly less than 1/4th of the width*/ 
    display: inline-block;
    padding: 25px 20px 20px 20px;
    margin: 0;
    text-align: center;
  }
  
  .icon-arrow-right {
  	display:inline-block;
  	zoom: 2;
    -moz-transform: scale(3);  /* Firefox */
  	float:left;
  	margin:0px 10px 20px 20px;
  }
}

.section3{
  display: block;
  padding: 50px 0px;
  
  
  h2 {
    color:#FC8608;
    font-size: 30px;
    line-height: 1.2;
  }
  
  .section3-tagline{
    font-size: 30px;
    margin: 0px 80px;
    line-height: 1.2;
  }
  
  .section3-heading {
    font-size: 50px;
  	padding-bottom:30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    color:#0E5EA3;
    text-align: center;
  }

  .section3-block {
    width: 95%; /*Slightly less than 1/4th of the width*/ 
    display: inline-block;
    padding: 10px 80px;
    margin: 0;
  }
  
  .icon-stop {
  	margin-right:20px;
  }
}

.section4{
	background-color: #ECECEC;
  display: block;
  padding: 150px 0px;
  text-align: center;
  
  .section4-block {
    width: 20%; /*Slightly less than 1/4th of the width*/ 
    display: inline-block;
    margin: 0;
  }
}

.section5{
  display: block;
  padding: 150px 50px 150px 50px;
  text-align: center;

  .section5-heading {
    font-size: 50px;
  	padding-bottom:30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }

  .section5-block {
    width: 90%; /*Slightly less than 1/4th of the width*/ 
    display: inline-block;
    padding: 25px 20px 0px 20px;
    margin: 0;
    text-align: center;
  }
  #special-header-orange{
  	color:#FC8608;
  }
}


