<div class="outer-wrapper footer-outer">
  <div class="inner-wrapper">
    <footer class="main-footer">
      <%= link_to (image_tag "vcruit-logo-small.png"), root_path %>
    </footer>
  </div>
</div>